%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>
[
 {async, [
          %% not enable after start
          {pause, true},
          %% interval between processed changes files
          {collect_interval, 200},
          %% add support chronica and notify-send
          {load, [
                  {chronica_manager, test_add_module},
                  {cmd, "notify-send"}
                 ]},
          %% run test after load module
          {after_load, [{eunit, test}]},
          %% notify about error
          {error, {cmd, "notify-send"}},
          %% don't watch for erlang system libs
          {exclude_path_regexp, [ "/usr/lib/erlang/lib/*" ]}
         ]}
].
